html {
  width: 400px;
}

html, body {
  margin: 0;
  padding: 0;
  background: #0c0c12;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin 2s linear infinite;
}
